@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@509&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.openSans {
  font-family: "Open Sans", sans-serif;
}

.bg-warm-grey {
  background-color: #f5f5f4;

}

.input-form {
  @apply p-2 border-[1px] border-gray-200 rounded-lg w-full bg-gray-100 focus:outline-none focus:bg-blue-50 mt-2
}

.add-btn {
  @apply bg-black text-white py-2 px-8 text-base rounded-lg hover:scale-105
}

.bg-purple-primary {
  @apply bg-purple-600
}

.bg-purple-secondary {
  @apply bg-purple-400
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

.fill {
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;

}




#tags .ReactTags__tags {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px 10px;
  border-radius: .5rem;
  border: 1px solid rgb(202, 202, 202);
}

#tags .ReactTags__tags {
  width: 100%;
}

#tags .ReactTags__selected {
  display: flex;
}

#tags .ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

#tags .ReactTags__tagInput {
  border-radius: 2px;
  width: 100%;
  display: inline-block;
}

#tags .ReactTags__tagInput input.ReactTags__tagInputField,
#tags .ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  min-width: 150px;
  padding: 0px 10px;

}

#tags .ReactTags__editInput {
  border-radius: 1px;
}

#tags .ReactTags__editTagInput {
  display: inline-flex;
}

#tags .ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: rgb(233 213 255);

  color: rgb(147 51 234);
  font-size: 12px;
  display: flex;
  padding: 5px;
  margin: 0 5px;
  border-radius: .5rem;

}

#tags .ReactTags__selected a.ReactTags__remove {
  color: rgb(147 51 234);
  margin-left: 5px;
  cursor: pointer;
}

#tags .ReactTags__suggestions {
  position: absolute;
}

#tags .ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}

#tags .ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

#tags .ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

#tags .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

#tags .ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: rgb(147 51 234);
  filter: invert(1);
  margin-left: 5px;
}

.ReactTags__remove svg {
  filter: invert(0);
}

#tags input {
  background-color: #f9f9f9;
  border: none;
  outline: none;
}

#tags input:before {
  border: none;
}


.scale-down-50 {
  zoom: 0.5;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.5);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
}

.not-filled {
  color: transparent;
  -webkit-text-stroke-width:.0002rem;
  -webkit-text-stroke-color:black;
}

.nav-underline {
  background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.15em
    no-repeat;
  color: black;
  display: inline-block;
  padding: 0 .5em 0.2em;
  text-decoration: none;
  transition: background-size 0.5s;
}

.nav-underline:hover {
  --underline-width: 100%;
}